<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <%
    var title = page.title;

    if (is_archive()) {
        title = theme.archives_title || 'Archives';
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('Categories') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('Tags') + ': ' + page.tag;
    }

    if (title) {
        title = title + ' | ';
    } else {
        title = '';
    }

    title += config.title;

    if (config.subtitle) {
        title += ' | ' + config.subtitle;
    }
    %>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" source="<%- theme_load_css(config.root + 'css/style') %>" media="all">
    <script>
        $CONFIG = <%- JSON.stringify($CONFIG()) %>;
    </script>
</head>
<body>