<% if(theme.toc){
//    var topic = toc(post.content, {
//        class      : 'post-toc',
//        list_number: theme.toc.list_number
//    })
    var topic = customToc(post.content)
if(topic) { %>
<aside class="post-widget">
    <nav class="post-toc">
        <h4 class="post-toc-header"><%- __('toc') %></h4>
        <%- topic %>
    </nav>
</aside>
<% }} %>