<h1 class="page-title"><%= config.title %></h1>
<div class="article-list">
    <% page.posts.each(function(post){ %>
    <%- partial('partial/article', {
        post: post,
        index: true
    }) %>
    <% }) %>
</div>
<%- partial('partial/paginator') %>