#cli {
  .prompt {
    word-break: keep-all;
    white-space: nowrap;
  }
  .inputing {
    word-break: break-all;
    word-wrap: break-word;
    outline: none;
  }
}

.command {
  &:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
  }

  .command-row-message {
    &.command-row-message-error {
      padding: .5em .3em;
      display: inline-block;
      margin-bottom: .5em;
      margin-top: .5em;
    }

    &.command-row-message-ansi {
      font-family: @font-code;
    }

    &.command-row-message-search {
      display: block;

      > .search-result-title-range {
        b {
          font-weight: bold;
          padding: 0 .2em;
        }
      }

      > .search-result-content-range {
        font-size: .8em;
        margin-bottom: .3em;
        padding: .2em .3em;

        b {
          font-weight: bold;
          padding: 0 .2em;
        }
      }
    }

    &.command-row-message-ls {
      .ls {
        .flex-row;
        .flex-row-wrap;

        > * {
          .flex-col;
          box-sizing: border-box;
          padding-right: 1rem;
          max-width: 33.33%;
          width: 33.33%;
          min-width: 33.33%;
          white-space: nowrap;

          > a {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            display: inline-block;
          }
        }
      }

      .ls-l {
        table {
          th, td {
            vertical-align: top;
            border-color: @profile-color-text-bold;
            text-align: right;

            &.sep-line {
              width: 1rem;
              max-width: 1rem;
              min-width: 1rem;
            }

            &:last-child {
              text-align: left;
            }
          }
        }
      }
    }
  }
}